Repository SwimComm/hytek-parser: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, isort, black, license_check

flake8:
  name: Flake8
  description: This hook runs flake8 within our project's poetry environment.
  entry: poetry run pflake8
  language: system
  require_serial: true

mypy:
  name: MyPy
  description: This hook runs mypy within our project's poetry environment.
  entry: poetry run mypy hytek_parser
  language: system
  require_serial: true

isort:
  name: Isort
  description: This hook runs isort within our project's poetry environment.
  entry: poetry run isort --check-only hytek_parser
  language: system
  require_serial: true

black:
  name: Black
  description: This hook runs black within our project's pipenv environment.
  entry: poetry run black --check hytek_parser
  language: system
  require_serial: true

license_check:
  name: License Check
  description: This hook checks if there are copyleft licenses in our repo.
  entry: poetry run task license_check
  language: system
  require_serial: true
  pass_filenames: false

chore: ignore uv.lock
  .gitignore
Due: none

fix(hy3): decode the swimmer sex column case-insensitively
  hytek_parser/hy3/enums.py
  tests/hy3/line_parsers/test_d_swimmer_parsers.py
  tests/hy3/test_enums.py
Due: flake8, mypy, isort, black

fix(hy3): tolerate invalid result dates
  hytek_parser/_utils.py
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  tests/hy3/line_parsers/test_e_event_parsers.py
  tests/hy3/line_parsers/test_f_relay_parsers.py
  tests/hy3/test_utils.py
Due: flake8, mypy, isort, black

fix(hy3): tolerate invalid result dates (#31)
  hytek_parser/_utils.py
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  tests/hy3/line_parsers/test_e_event_parsers.py
  tests/hy3/line_parsers/test_f_relay_parsers.py
  tests/hy3/test_utils.py
Due: flake8, mypy, isort, black

version 3.0.1
  pyproject.toml
Due: license_check

refactor(hy3): rename entry_flag to event_type and document what column 96 holds
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  hytek_parser/hy3/schemas.py
  tests/hy3/line_parsers/test_e_event_parsers.py
Due: flake8, mypy, isort, black

Path conditions:
  flake8: any of: \.py$
  mypy: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  license_check: any of: ^(pyproject.toml|poetry.lock)$
