Repository SwimComm/hytek-parser: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, isort, black, license_check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v2.2.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: '.*\.bat'
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: flake8
        name: Flake8
        description: This hook runs flake8 within our project's poetry environment.
        entry: poetry run pflake8
        language: system
        types: [python]
        require_serial: true
      - id: mypy
        name: MyPy
        description: This hook runs mypy within our project's poetry environment.
        entry: poetry run mypy hytek_parser
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: Isort
        description: This hook runs isort within our project's poetry environment.
        # https://github.com/pre-commit/pre-commit/issues/989
        entry: poetry run isort --check-only hytek_parser
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: Black
        description: This hook runs black within our project's pipenv environment.
        # https://github.com/pre-commit/pre-commit/issues/989
        entry: poetry run black --check hytek_parser
        language: system
        types: [python]
        require_serial: true
      - id: license_check
        name: License Check
        description: This hook checks if there are copyleft licenses in our repo.
        # https://github.com/pre-commit/pre-commit/issues/989
        entry: poetry run task license_check
        language: system
        files: ^(pyproject.toml|poetry.lock)$
        types: [file]
        require_serial: true
        pass_filenames: false

feat: partial event CSV DictReader
  hytek_parser/export_csv/__init__.py
Due: flake8, mypy, isort, black

refactor: share utils between all parsers
  hytek_parser/_utils.py
  hytek_parser/hy3/line_parsers/a_file_parsers.py
  hytek_parser/hy3/line_parsers/b_meet_parsers.py
  hytek_parser/hy3/line_parsers/c_team_parsers.py
  hytek_parser/hy3/line_parsers/d_swimmer_parsers.py
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  hytek_parser/hy3/line_parsers/g_split_parsers.py
  hytek_parser/hy3/line_parsers/h_dq_parsers.py
Due: flake8, mypy, isort, black

fix: typings for DictReader
  hytek_parser/export_csv/__init__.py
  hytek_parser/hy3_parser.py
  hytek_parser/types.py
Due: flake8, mypy, isort, black

feat: hyv event parser
  hytek_parser/hyv/__init__.py
  hytek_parser/hyv/enums.py
  hytek_parser/hyv/schemas.py
Due: flake8, mypy, isort, black

fix: determine correct field type
  hytek_parser/hy3/enums.py
  hytek_parser/hyv/__init__.py
  hytek_parser/hyv/schemas.py
Due: flake8, mypy, isort, black

refactor: use `@property` for derived fields
  hytek_parser/hyv/__init__.py
  hytek_parser/hyv/schemas.py
Due: flake8, mypy, isort, black

fix: docstring
  hytek_parser/hyv/__init__.py
Due: flake8, mypy, isort, black

feat: xls vs csv parser
  hytek_parser/export_csv/__init__.py
  hytek_parser/export_xls/__init__.py
  hytek_parser/export_xls/_utils.py
  hytek_parser/export_xls/schemas.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy, isort, black, license_check

refactor: export from the module
  hytek_parser/__init__.py
  hytek_parser/export_xls/__init__.py
  hytek_parser/hy3/__init__.py
  hytek_parser/hy3/line_parsers/__init__.py
  hytek_parser/hy3_parser.py
Due: flake8, mypy, isort, black

refactor: get rid of logging, fix circular imports
  hytek_parser/_utils.py
  hytek_parser/hy3/_utils.py
  hytek_parser/hy3/line_parsers/c_team_parsers.py
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  hytek_parser/hy3_parser.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy, isort, black, license_check

chore: recognize tests with VSCode
  .vscode/settings.json
Due: none

chore: update readme with new features
  README.md
Due: none

chore: release v1.1.0
  hytek_parser/__init__.py
  pyproject.toml
Due: flake8, mypy, isort, black, license_check

chore: fix spelling
  hytek_parser/hy3/line_parsers/c_team_parsers.py
Due: flake8, mypy, isort, black

chore: better comments
  hytek_parser/hy3/schemas.py
Due: flake8, mypy, isort, black

chore: re-lock with poetry
  poetry.lock
Due: license_check

Changing date format from dmy to mdy
  hytek_parser/hy3/line_parsers/a_file_parsers.py
  tests/test_a_file_parsers.py
Due: flake8, mypy, isort, black

fix: call super properly in attrs classes
  hytek_parser/hy3/schemas.py
Due: flake8, mypy, isort, black

fix: don't silence errors
  hytek_parser/hy3_parser.py
Due: flake8, mypy, isort, black

Fix date format in A1 parser (#5)
  hytek_parser/hy3/line_parsers/a_file_parsers.py
  tests/test_a_file_parsers.py
Due: flake8, mypy, isort, black

release version 1.1.1
  hytek_parser/__init__.py
  pyproject.toml
Due: flake8, mypy, isort, black, license_check

- Adjust for missing altitude and team_id, default to None. - Adjust types to be int|None - added tests to cover Swimmer and Meet - adjust test of __version__
  hytek_parser/__init__.py
  hytek_parser/_utils.py
  hytek_parser/hy3/line_parsers/b_meet_parsers.py
  hytek_parser/hy3/line_parsers/d_swimmer_parsers.py
  hytek_parser/hy3/schemas.py
  tests/test_a_file_parsers.py
  tests/test_b1_parser.py
  tests/test_b_meet_parsers.py
  tests/test_d_swimmer_parsers.py
  tests/test_hytek_parser.py
  tests/test_utils.py
Due: flake8, mypy, isort, black

Adjust for missing altitude and team_id, default to None. (#8)
  hytek_parser/_utils.py
  hytek_parser/hy3/line_parsers/b_meet_parsers.py
  hytek_parser/hy3/line_parsers/d_swimmer_parsers.py
  hytek_parser/hy3/schemas.py
  tests/test_a_file_parsers.py
  tests/test_b1_parser.py
  tests/test_b_meet_parsers.py
  tests/test_d_swimmer_parsers.py
  tests/test_hytek_parser.py
  tests/test_utils.py
Due: flake8, mypy, isort, black

Change Event number from int to str
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  hytek_parser/hy3/schemas.py
  tests/hy3/__init__.py
  tests/hy3/line_parsers/__init__.py
  tests/hy3/line_parsers/test_a_file_parsers.py
  tests/hy3/line_parsers/test_b_meet_parsers.py
  tests/hy3/line_parsers/test_d_swimmer_parsers.py
  tests/hy3/line_parsers/test_e_event_parsers.py
  tests/hy3/test_utils.py
  tests/test_b1_parser.py
Due: flake8, mypy, isort, black

Change Event number from int to str (#10)
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  hytek_parser/hy3/schemas.py
  tests/hy3/__init__.py
  tests/hy3/line_parsers/__init__.py
  tests/hy3/line_parsers/test_a_file_parsers.py
  tests/hy3/line_parsers/test_b_meet_parsers.py
  tests/hy3/line_parsers/test_d_swimmer_parsers.py
  tests/hy3/line_parsers/test_e_event_parsers.py
  tests/hy3/test_utils.py
  tests/test_b1_parser.py
Due: flake8, mypy, isort, black

Correct spelling of medley
  hytek_parser/hy3/enums.py
Due: flake8, mypy, isort, black

Fix spelling of Medley (#12)
  hytek_parser/hy3/enums.py
Due: flake8, mypy, isort, black

Resolves issue13
  hytek_parser/_utils.py
  hytek_parser/hy3/line_parsers/d_swimmer_parsers.py
  hytek_parser/hy3/schemas.py
  tests/hy3/line_parsers/test_d_swimmer_parsers.py
  tests/hy3/test_utils.py
Due: flake8, mypy, isort, black

Make Swimmer date of birth optional (#15)
  hytek_parser/_utils.py
  hytek_parser/hy3/line_parsers/d_swimmer_parsers.py
  hytek_parser/hy3/schemas.py
  tests/hy3/line_parsers/test_d_swimmer_parsers.py
  tests/hy3/test_utils.py
Due: flake8, mypy, isort, black

release version 1.2.0
  hytek_parser/__init__.py
  pyproject.toml
Due: flake8, mypy, isort, black, license_check

fix(e2): tolerate blank date column (MM2 2.0 and version-agnostic)
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  tests/hy3/line_parsers/test_e_event_parsers.py
Due: flake8, mypy, isort, black

fix(f2): tolerate blank date column (relay variant of e2 fix)
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  tests/hy3/line_parsers/test_f_relay_parsers.py
Due: flake8, mypy, isort, black

fix(schemas)!: move relay attribution from Event to EventEntry
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  hytek_parser/hy3/schemas.py
  tests/hy3/line_parsers/test_f_relay_parsers.py
Due: flake8, mypy, isort, black

fix(schemas)!: change EventEntry.swimmers to dict[int, Swimmer]
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  hytek_parser/hy3/schemas.py
  tests/hy3/line_parsers/test_f_relay_parsers.py
Due: flake8, mypy, isort, black

chore: bump version to 2.0.0
  hytek_parser/__init__.py
  pyproject.toml
  tests/test_hytek_parser.py
Due: flake8, mypy, isort, black, license_check

test: add MM-version-coverage integration tests and direct same_swimmer_entry_as tests
  tests/hy3/fixtures/README.md
  tests/hy3/fixtures/mm2_2_0fg_relay_multi_team.hy3
  tests/hy3/fixtures/mm3_3_0ea_individuals_blank_date.hy3
  tests/hy3/fixtures/mm5_8_0fd_relay_alternates.hy3
  tests/hy3/line_parsers/test_schemas.py
  tests/hy3/test_integration.py
Due: flake8, mypy, isort, black

fix: missing date column, relay attribution, and racer/alternate distinction (breaking) (#17)
  hytek_parser/__init__.py
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  hytek_parser/hy3/schemas.py
  pyproject.toml
  tests/hy3/fixtures/README.md
  tests/hy3/fixtures/mm2_2_0fg_relay_multi_team.hy3
  tests/hy3/fixtures/mm3_3_0ea_individuals_blank_date.hy3
  tests/hy3/fixtures/mm5_8_0fd_relay_alternates.hy3
  tests/hy3/line_parsers/test_e_event_parsers.py
  tests/hy3/line_parsers/test_f_relay_parsers.py
  tests/hy3/line_parsers/test_schemas.py
  tests/hy3/test_integration.py
  tests/test_hytek_parser.py
Due: flake8, mypy, isort, black, license_check

feat(d1): capture citizenship and unparsed col 125
  hytek_parser/hy3/line_parsers/d_swimmer_parsers.py
  hytek_parser/hy3/schemas.py
  tests/hy3/line_parsers/test_d_swimmer_parsers.py
  tests/hy3/line_parsers/test_schemas.py
Due: flake8, mypy, isort, black

feat(schemas): EventEntry gains 19 nullable fields
  hytek_parser/hy3/schemas.py
  tests/hy3/line_parsers/test_event_entry_schema.py
Due: flake8, mypy, isort, black
