Repository SwimComm/hytek-parser: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, isort, black, license_check

flake8:
  name: Flake8
  description: This hook runs flake8 within our project's poetry environment.
  entry: poetry run pflake8
  language: system
  require_serial: true

mypy:
  name: MyPy
  description: This hook runs mypy within our project's poetry environment.
  entry: poetry run mypy hytek_parser
  language: system
  require_serial: true

isort:
  name: Isort
  description: This hook runs isort within our project's poetry environment.
  entry: poetry run isort --check-only hytek_parser
  language: system
  require_serial: true

black:
  name: Black
  description: This hook runs black within our project's pipenv environment.
  entry: poetry run black --check hytek_parser
  language: system
  require_serial: true

license_check:
  name: License Check
  description: This hook checks if there are copyleft licenses in our repo.
  entry: poetry run task license_check
  language: system
  require_serial: true
  pass_filenames: false

feat: copy files over and implement `B1` parser
  .pre-commit-config.yaml
  .vscode/settings.json
  hytek_parser/__init__.py
  hytek_parser/line_parsers.py
  hytek_parser/parser.py
  hytek_parser/schemas.py
  pyproject.toml
Due: flake8, mypy, isort, black, license_check

refactor: extract not a public function
  hytek_parser/line_parsers.py
Due: flake8, mypy, isort, black

feat: implement `B2` parsing
  hytek_parser/line_parsers.py
  hytek_parser/parser.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

feat: export parser
  hytek_parser/__init__.py
Due: flake8, mypy, isort, black

refactor: organize files better
  hytek_parser/line_parsers.py
  hytek_parser/line_parsers/__init__.py
  hytek_parser/line_parsers/_utils.py
  hytek_parser/line_parsers/hy3/__init__.py
  hytek_parser/line_parsers/hy3/a_file_parsers.py
  hytek_parser/line_parsers/hy3/b_meet_parsers.py
  hytek_parser/parser.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

refactor: return parsed file
  hytek_parser/line_parsers/hy3/__init__.py
  hytek_parser/line_parsers/hy3/a_file_parsers.py
  hytek_parser/line_parsers/hy3/b_meet_parsers.py
  hytek_parser/parser.py
Due: flake8, mypy, isort, black

feat: team parsers
  hytek_parser/line_parsers/hy3/__init__.py
  hytek_parser/line_parsers/hy3/c_team_parsers.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

feat: add swimmer parsers
  hytek_parser/line_parsers/_utils.py
  hytek_parser/line_parsers/hy3/__init__.py
  hytek_parser/line_parsers/hy3/c_team_parsers.py
  hytek_parser/line_parsers/hy3/d_swimmer_parsers.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

refactor: get the last team as a method
  hytek_parser/line_parsers/_utils.py
  hytek_parser/line_parsers/hy3/c_team_parsers.py
  hytek_parser/line_parsers/hy3/d_swimmer_parsers.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

refactor: do things with enums
  hytek_parser/enums.py
  hytek_parser/line_parsers/_utils.py
  hytek_parser/line_parsers/hy3/b_meet_parsers.py
  hytek_parser/line_parsers/hy3/d_swimmer_parsers.py
  hytek_parser/schemas.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy, isort, black, license_check

fix: init dicts to empty
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

feat: add event parsers
  .gitignore
  .vscode/settings.json
  hytek_parser/enums.py
  hytek_parser/line_parsers/_utils.py
  hytek_parser/line_parsers/hy3/c_team_parsers.py
  hytek_parser/line_parsers/hy3/d_swimmer_parsers.py
  hytek_parser/line_parsers/hy3/e_event_parsers.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

fix: set `last_team` when creating a team
  hytek_parser/line_parsers/hy3/c_team_parsers.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

refactor: update events using `last_event`
  hytek_parser/line_parsers/hy3/e_event_parsers.py
Due: flake8, mypy, isort, black

feat: add `E` parsers to dict
  hytek_parser/line_parsers/hy3/__init__.py
Due: flake8, mypy, isort, black

fix: allow getting correct enum value
  hytek_parser/enums.py
Due: flake8, mypy, isort, black

fix: account for empty list of entires
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

fix: times should not be `True`
  hytek_parser/line_parsers/_utils.py
Due: flake8, mypy, isort, black

fix: spell check
  hytek_parser/enums.py
Due: flake8, mypy, isort, black

fix: improve typings
  hytek_parser/line_parsers/_utils.py
  hytek_parser/line_parsers/hy3/e_event_parsers.py
Due: flake8, mypy, isort, black

refactor: put line parsing in order
  hytek_parser/line_parsers/hy3/e_event_parsers.py
Due: flake8, mypy, isort, black

fix: get course enum to work
  hytek_parser/enums.py
Due: flake8, mypy, isort, black

fix: improve logging
  hytek_parser/parser.py
Due: flake8, mypy, isort, black

feat: relay parsers
  hytek_parser/enums.py
  hytek_parser/line_parsers/hy3/__init__.py
  hytek_parser/line_parsers/hy3/f_relay_parsers.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

feat: split time (`G`) parser
  hytek_parser/line_parsers/hy3/__init__.py
  hytek_parser/line_parsers/hy3/g_split_parsers.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

feat: end-of-file (`Z`) parser
  hytek_parser/parser.py
Due: flake8, mypy, isort, black

feat: disqualification info (`H`) parser
  hytek_parser/line_parsers/hy3/__init__.py
  hytek_parser/line_parsers/hy3/e_event_parsers.py
  hytek_parser/line_parsers/hy3/f_relay_parsers.py
  hytek_parser/line_parsers/hy3/h_dq_parsers.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

feat: team contact info (`C3`) parser
  hytek_parser/line_parsers/hy3/__init__.py
  hytek_parser/line_parsers/hy3/c_team_parsers.py
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

feat: parse finish message
  hytek_parser/parser.py
Due: flake8, mypy, isort, black

feat: csv parsing header
  hytek_parser/line_parsers/csv/__init__.py
Due: flake8, mypy, isort, black

chore: publishing boilerplate
  LICENSE.md
  README.md
Due: none

fix: update DQ codes
  hytek_parser/enums.py
Due: flake8, mypy, isort, black

chore: release v1.0.0
  pyproject.toml
Due: license_check

style: use dmypy for linting
  .vscode/settings.json
  pyproject.toml
Due: license_check

refactor: update attrs and use factories
  hytek_parser/schemas.py
  poetry.lock
  pyproject.toml
Due: flake8, mypy, isort, black, license_check

fix: set defaults for `__repr__`
  hytek_parser/schemas.py
Due: flake8, mypy, isort, black

fix: add `__all__` and other dunders
  hytek_parser/__init__.py
Due: flake8, mypy, isort, black

chore: fix badges in README
  README.md
Due: none

refactor: simplify package structure
  .vscode/settings.json
  hytek_parser/__init__.py
  hytek_parser/export_csv/__init__.py
  hytek_parser/hy3/__init__.py
  hytek_parser/hy3/_utils.py
  hytek_parser/hy3/enums.py
  hytek_parser/hy3/line_parsers/__init__.py
  hytek_parser/hy3/line_parsers/a_file_parsers.py
  hytek_parser/hy3/line_parsers/b_meet_parsers.py
  hytek_parser/hy3/line_parsers/c_team_parsers.py
  hytek_parser/hy3/line_parsers/d_swimmer_parsers.py
  hytek_parser/hy3/line_parsers/e_event_parsers.py
  hytek_parser/hy3/line_parsers/f_relay_parsers.py
  hytek_parser/hy3/line_parsers/g_split_parsers.py
  hytek_parser/hy3/line_parsers/h_dq_parsers.py
  hytek_parser/hy3/schemas.py
  hytek_parser/line_parsers/__init__.py
  hytek_parser/parser.py
  pyproject.toml
Due: flake8, mypy, isort, black, license_check

refactor: rename file
  hytek_parser/__init__.py
  hytek_parser/hy3_parser.py
Due: flake8, mypy, isort, black

Path conditions:
  flake8: any of: \.py$
  mypy: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  license_check: any of: ^(pyproject.toml|poetry.lock)$
